<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="testi-carousel owl-carousel owl-theme">
            <% @testimonials.each do |testimonial| %>
                <%= render testimonial %>
            <% end%>
        </div><!-- end carousel -->
    </div><!-- end col -->
</div><!-- end row -->