<div class="row text-center">
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="service-widget">
            <div class="post-media wow fadeIn">
                <a href="uploads/features_01.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                <img src="uploads/features_01.jpg" alt="" class="img-responsive img-rounded">
            </div>
            <h3>Outstanding Landing Pages</h3>
            <p>Aliquam sagittis ligula et sem lacinia, ut facilisis enim sollicitudin. Proin nisi est, convallis nec purus vitae, iaculis posuere sapien. Cum sociis natoque.</p>
        </div><!-- end service -->
    </div><!-- end col -->

    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="service-widget">
            <div class="post-media wow fadeIn">
                <a href="uploads/features_02.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                <img src="uploads/features_02.jpg" alt="" class="img-responsive img-rounded">
            </div>
            <h3>Beautiful SVG Font Icons</h3>
            <p>Duis at tellus at dui tincidunt scelerisque nec sed felis. Suspendisse id dolor sed leo rutrum euismod. Nullam vestibulum fermentum erat. It nam auctor. </p>
        </div><!-- end service -->
    </div><!-- end col -->

    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="service-widget">
            <div class="post-media wow fadeIn">
                <a href="uploads/features_03.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                <img src="uploads/features_03.jpg" alt="" class="img-responsive img-rounded">
            </div>
            <h3>Build a Site In Few Minutes</h3>
            <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis accumsan.</p>
        </div><!-- end service -->
    </div><!-- end col -->
</div><!-- end row -->